<% if emotion.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(emotion.errors.count, "error") %> prohibited this emotion from being saved:</h2>
    <ul>
    <% emotion.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
</div>

<%= form_for @emotion, url: {action: "create"} do |form| %>

  <div style="block">
    <h3 style="text-align: center">Add new Emotion</h>
      <br>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <div class="actions">
      <%=form.submit %>
    </div>

<br>

<% end %>
  <img src="https://positivepsychologyprogram.com/wp-content/uploads/2017/12/wheel-of-emotions.jpg" alt="Emo wheel" width="50%" height="50%"></img>

  <br></br>
