<%= form_for @thought do |form| %>
  <% if thought.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(thought.errors.count, "error") %> prohibited this thought from being saved:</h2>
      <ul>
      <% thought.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="form">
  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :thought_date %>
  </div>
<br>
  <div class="field">
    <%= form.label :entry %>
    <%= form.text_area :entry, id: :thought_entry %>
  </div>
</br>
<div class="field">
  <h7> Only the select box is adding emotions to thoughts on the thought index page. the create method for emotion is not working- ASK-TA</h>
    <br>
<div >
  <%= form.fields_for :emotions do |emo| %>
   <%options = options_from_collection_for_select(@emotions, 'id', 'name') %>
      <%=form.select :emotion_id,  options %>
  <br>
    <%= emo.label :new_emotion_name %>
    <%= emo.text_field :name, id: :emotions %>
    <% end %>
  </div>
<h6>Current user id for development:</h><%= current_user.id %>
<h6>Thought user id for development:</h> <%= thought.user_id %>
  <br></br>
  </div>
  <div class="field">
    <br>
    <%= form.label :picture %><%= image_tag thought.picture_url(:thumb) if thought.picture.present? %>
    <br>
    <%= form.file_field :picture, id: :thought_picture %>
    <%= tag(:input, :type => "hidden", :current_user => :user_id, :value => current_user.id)%>
  </div>
</br>
<div class="field">
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
</div>
