<p id="notice"><%= notice %></p>
<br></br>
<p>
  <strong>Date:</strong>
  <%= @thought.date %>
</p>
<p>
  <strong>Picture:</strong>
  <br>
<%= image_tag @thought.picture_url(:thumb) if @thought.picture.present? %>

<p>
  <strong>Description:</strong>
  <%= @thought.entry %>
  <br></br>
  <h7>Emotion:</h>
    <%=  @thought.emotion.name %>

</p>


<br>
<div class="bottom-nav-link">
<%= link_to 'Edit', edit_thought_path(@thought) %> |
<%= link_to 'Back', thoughts_path %>
</div>
